<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colaorange.dailymoney">

    <!-- backup-restore -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- remote backup -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- autobackup-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- ga -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.context.ContextsApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.colaorange.calculator2.Calculator" />
        <activity
            android:name=".core.ui.StartupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.ui.LocalWebViewActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <!--TODO action-View for google search -->
                <data android:scheme="dailymoney" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.ui.PasswordProtectionActivity"
            android:label="@string/label_pwd_protection" />
        <activity
            android:name=".core.ui.cards.CardDesktopActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".core.ui.legacy.BookMgntActivity"
            android:label="@string/title_bookmgnt" />
        <activity android:name=".core.ui.legacy.BookEditorActivity" />
        <activity
            android:name=".core.ui.legacy.RecordMgntActivity"
            android:label="@string/title_recmgnt" />

        <activity android:name=".core.ui.legacy.RecordEditorActivity" />

        <activity
            android:name=".core.ui.legacy.RecordSearcherActivity"
            android:label="@string/label_search" />
        <activity
            android:name=".core.ui.legacy.RecordMigratorActivity"
            android:label="@string/label_migrate_records" />
        <activity
            android:name=".core.ui.legacy.AccountMgntActivity"
            android:label="@string/title_accmgnt" />
        <activity android:name=".core.ui.legacy.AccountEditorActivity" />
        <activity
            android:name=".core.ui.legacy.AccountRecordListActivity"
            android:label="@string/title_reclist" />
        <activity
            android:name=".core.ui.pref.PrefsActivity"
            android:label="@string/title_prefs" />
        <activity
            android:name=".core.ui.pref.PrefsContributionActivity"
            android:label="@string/label_contribution" />
        <activity
            android:name=".core.ui.pref.PrefsDeveloperActivity"
            android:label="@string/label_developer" />
        <activity
            android:name=".core.ui.pref.PrefsFormatActivity"
            android:label="@string/label_format" />
        <activity
            android:name=".core.ui.pref.PrefsRecordActivity"
            android:label="@string/label_record" />
        <activity
            android:name=".core.ui.pref.PrefsDesktopActivity"
            android:label="@string/label_desktop" />
        <activity
            android:name=".core.ui.legacy.DataMaintenanceActivity"
            android:label="@string/title_datamain" />
        <activity
            android:name=".core.ui.legacy.BalanceMgntActivity"
            android:label="@string/label_balance" />
        <activity
            android:name=".core.ui.legacy.LogViewerActivity"
            android:label="@string/title_log_viewer" />
        <activity android:name=".core.ui.chart.PieAccountActivity" />
        <activity android:name=".core.ui.chart.LineAccountActivity" />
        <activity android:name=".core.ui.chart.LineAccountAggregateActivity" />
        <activity android:name=".core.ui.chart.LineFromBeginningAggregateActivity" />
        <activity android:name=".core.ui.chart.LineFromBeginningAccountActivity" />

        <activity
            android:name=".core.ui.legacy.GoogleDriveActivity"
            android:label="@string/label_google_drive" />

        <receiver
            android:name=".core.bg.StartupReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.colaorange.dailymoney.broadcast.STARTUP" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.bg.JobSchedulerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.colaorange.dailymoney.broadcast.STARTUP_JOB_SCHEDULER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.bg.TimeTickReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.bg.TimeTickStickyService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.bg.AutoBackupJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name=".core.bg.AlarmManagerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.colaorange.dailymoney.broadcast.STARTUP_ALARM_MANAGER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.ui.widget.CreateRecordWidget"
            android:label="@string/nav_pg_add_record">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_create_record" />
        </receiver>
        <!-- ga -->
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>


    </application>

</manifest>