<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colaorange.dailymoney">

    <!-- backup-restore -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- remote backup -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- autobackup-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- ga -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.context.ContextsApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.colaorange.calculator2.Calculator" />
        <activity
            android:name=".core.ui.StartupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.ui.LocalWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".core.ui.PasswordProtectionActivity"
            android:label="@string/label_pwd_protection" />
        <activity
            android:name=".core.ui.legacy.DesktopMgntActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".core.ui.legacy.BookMgntActivity"
            android:label="@string/title_bookmgnt" />
        <activity android:name=".core.ui.legacy.BookEditorActivity" />
        <activity
            android:name=".core.ui.legacy.RecordListActivity"
            android:label="@string/title_reclist" />
        <activity
            android:name=".core.ui.legacy.RecordMgntActivity"
            android:label="@string/title_recmgnt" />

        <activity android:name=".core.ui.legacy.RecordEditorActivity"/>
        <activity
            android:name=".core.ui.legacy.AccountMgntActivity"
            android:label="@string/title_accmgnt" />
        <activity android:name=".core.ui.legacy.AccountEditorActivity" />
        <activity android:name=".core.ui.legacy.AccountRecordListActivity" />
        <activity
            android:name=".core.ui.pref.PrefsActivity"
            android:label="@string/title_prefs" />
        <activity
            android:name=".core.ui.pref.PrefsContributionActivity"
            android:label="@string/label_prefcat_contribution"/>

        <activity
            android:name=".core.ui.pref.PrefsDeveloperActivity"
            android:label="@string/label_prefcat_developer"/>

        <activity
            android:name=".core.ui.legacy.DataMaintenanceActivity"
            android:label="@string/title_datamain" />
        <activity
            android:name=".core.ui.legacy.BalanceMgntActivity"
            android:label="@string/label_balance" />
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:theme="@style/Theme.AppCompat" />

        <receiver
            android:name=".core.bg.StartupReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.colaorange.dailymoney.broadcast.STARTUP" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.bg.TimeTickReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.bg.StartupService"
            android:enabled="true"
            android:exported="false" />

        <!-- ga -->
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>


    </application>

</manifest>